@charset "UTF-8";

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Dovemayo_gothic';
    font-size: 20px;
    background-image: url("../img/배경.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}

a, a:visited, a:active {
    text-decoration: none;
    color: white;
}

a:visited, a:active {
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: none;
}
