@charset "UTF-8";
.findidWrap{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.findid-inner {
    background-color: white;
    width: 550px;
    height: 700px;

    /* 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form > div {
    margin-bottom: 20px;
}

.findid.title {
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
}

label {
    display: flex;
    justify-content: left;
    margin-bottom: 3px;
}

div > input {
    border: 0;
    background-color: #DEDEDE;
    height: 40px;
    width: 300px;

    /* 내부폰트 */
    font-family: 'Dovemayo_gothic';
    font-size: 16px;
    text-indent: 5px;
}

.btn.submit {
    margin-top: 30px;
    border: 0;
    width: 150px;
    height: 50px;
    background-color: #F8FF7F;

     /* 내부폰트 */
     font-family: 'Dovemayo_gothic';
     font-size: 20px;
}

.btn.login {
    margin-top: 30px;
    border: 0;
    width: 150px;
    height: 50px;
    background-color: #F8FF7F;

     /* 내부폰트 */
     font-family: 'Dovemayo_gothic';
     font-size: 20px;
}