@charset "UTF-8";

/*  */
.wrap-header > header{
    /* 중앙 배치 */
    width: 1080px; margin: 0 auto;
}

/*  */
.wrap-main {
    /* 중앙 배치 */
    width: 1080px; margin: 0 auto;

    /* float - 부모 height를 위해  */
    overflow: hidden;
}

.wrap-main > section{
    background-color: white;

    /* float 왼쪽 배치 */
	width : 830px; 
    float: right;
    padding: 20px;
    margin: 10px 0 10px 0;
}
.wrap-main > aside{
    /* float 왼쪽 배치 */
    width: 200px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0 10px 0;
}

aside{
    background-color: #E9E5F8;

    /* 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

aside .btn.login, .btn.join, .btn.logout {
    border: 0;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    background-color: #A093CE;
    margin-bottom: 10px;

     /* 내부폰트 */
     font-family: 'Dovemayo_gothic';
     font-size: 20px;
}

aside .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

aside .gap1 {
    border: 0;
    margin-bottom: 70px;
}

aside .review.write {
    border: 2px solid #7565AD;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    background-color: white;
    margin-bottom: 10px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

     /* 내부폰트 */
     font-family: 'Dovemayo_gothic';
     font-size: 20px;
}

aside .libraryInfo , .SIBF {
    margin-bottom: 10px;
    height: 50px;
}

aside .libraryInfo , .SIBF > a > img {
    border: 2px solid #7565AD;
    background-color: white;
    border-radius: 5px;
}