@charset "UTF-8";
ul {
	padding: 0;
	margin : 0;
}

.wrap-main > section{
    /* float 왼쪽 배치 */
	width : 870px; 
}

section .mainmenu {
    /* 배치 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

section .notice.article, .resent.review{
    width: 400px;
}

section .notice.article > a {
    text-decoration: none;
    color: black;
    font-family: 'KCC-Hanbit';
    font-size: 20px;

    /* 간격조정 */
    margin-bottom: 10px;
}

section .resent.review > a {
    text-decoration: none;
    color: black;
    font-family: 'KCC-Hanbit';
    font-size: 20px;

    /* 간격조정 */
    margin-bottom: 10px;
}

section .title1 {
    font-family: 'KCC-Hanbit';
    font-size: 30px;

    /* 간격조정 */
    margin-bottom: 10px;
}

section .portfolio {
    margin-bottom: 40px;
}

